html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide scrollbars */
}

#drawingCanvas {
  overflow: hidden;
}

/* #root {
  --bg-color: black;
  --text-color: black;
  --primary-color: #2196f3;
}

.dark-mode {
  --bg-color: #121212;
  --text-color: #ffffff;
  --primary-color: #90caf9;
} */
